#box{
    width: 800px;
    margin: 50px auto 0;
    border: 2px solid #666;
    padding: 25px;
    box-sizing: border-box;
}
#btn{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
#btn>button{
    padding: 20px 50px;
    border: none;
    color: #fff;
    margin: 0 25px;
}
#btn>button:first-child{
    background-color: red;
}
#btn>button:last-child{
    background-color: green;
}
#contain{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #666;
}
#contain>.con{
    border: 1px solid #666;
    width: 250px;
}